# Godot
export.cfg
export_presets.cfg
.empty

# Python
*.egg-info/
__pycache__/
*.pkl

# Python notebooks
.ipynb_checkpoints

# VSCode
.vscode/

# GymGodot & other
render_frames/
tensorboard_logs/
*.zip
*.pck


